/* BASE CLASSES */
@font-face {
    font-family: 'UTM Neo Sans Intel';
    src: url('../fonts/UTM Neo Sans Intel_0.ttf') format('truetype'), url('../fonts/UTM Neo Sans Intel_Italic_0.ttf') format('truetype'), url('../fonts/UTM Neo Sans IntelBold_0.ttf') format('truetype'), url('../fonts/UTM Neo Sans IntelBold_Italic_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iCiel Simplifica';
    src: url('../fonts/iCiel Simplifica.otf');
    src: url('../fonts/iCiel Simplifica.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTM BEBAS';
    src: url('../fonts/UTM BEBAS_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-size: 62.5%;
    margin: 0 auto;
    padding: 0;
    font-family: 'UTM Neo Sans Intel';
}
/*------------basic------------*/
*{ word-wrap: break-word;}
*:focus {
    outline:0 none !important;
}
input,select,th,td{
    font-size: 1em ;
}
img { max-width: 100%; height: auto;}
@media \0screen { img { width: auto; /* for ie 8 */ } }
a{color: #666; text-decoration: none;}
ul{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
.position_relative{
    position: relative;
}
.last{
    margin-right: 0 !important;
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.text-align-center{
    text-align: center;
}
.clearfix{
    clear: both;
}
.cursor{
    cursor: pointer;
}
.border-top{border-top: 1px solid #000}
.marTop20{margin-top: 20px;}
.color_green{color:#7eb235;}
.full{width:100%}