@import url('common_sm.css');
/* Dành cho điện thoại */
@media all and (min-width: 320px) {
    .container{
        margin: auto;
        background: #fefeeb;
    }
    .w_header{
        background: url(../images/bg_top_sm.png) #7eb235;
        background-repeat:no-repeat;
        background-position:center;
        background-size: 100%;
        -webkit-background-size:contain;
        -moz-background-size:contain;
        -o-background-size:contain;
        background-size:contain;
        height: 0;
        padding-bottom: 96.5%;/*(height/width)*100*/
        display: block;
    }

    .hotline_top{
        color: #fff;
        font-weight: 700;
        font-size: 2em;
        position: absolute;
        top: .4%;
        right: 2%;
    }
    .slogan_top{
        padding-top: 67%;
        text-align: center;
    }
    .slogan_top img{
        width: 80%;
    }
    .icon_share{
        text-align: center;
        width:100%;
    }
    .icon_share img{
        width: 6%;
        margin-right: 2%;
    }
    .icon_share img.last{
        margin-right: 0;
    }
    .w_main{
        background: url(../images/bg_main.png)repeat top center;
    }
    .w_content{
        /*min-height: 1117px;*/
        background: url(../images/bg_footer.png)no-repeat bottom center;
        position: relative;
        background-size: contain;
    }
    .content_main{
        width: 96%;
        margin: 5% auto 0;
    }
    .banner_t{
        text-align: center;
    }
    label.title{
        color: #1e1e1e;
        font-size: 6em;
        font-family: 'UTM Bebas';
        text-transform: uppercase;
    }

    .choose_gift{
        margin-top: 3.5%;
        border-bottom: 1px solid #000;
    }
    .choose_gift p{
        font-size: 2.6em;
        color: #1c1c1c;
        text-align: justify;
        line-height: 2em;
    }
    .category_product{
        background:rgba(30,30,30,.47);
        border-radius: 10px;
        width:100%;
        margin-bottom: 2%;
    }

    .category_product .img_product_t{
        float: left;
        width: 46%;
    }
    .category_product .img_product_t img{
        border-radius: 10px;
        width: 100%;
    }
    .category_product .topic_product{
        float: left;
        width: 46%;
        color: #fff;
        padding-left: 7.5%;
        padding-top: 6%;
    }
    .category_product .topic_product strong{
        font-size: 6em;
        font-family: 'UTM Bebas';
        text-transform: uppercase;
        font-weight: normal;
    }
    .category_product .topic_product small{
        font-size: 3.2em;
    }
    .story_staff{
        margin-top:10px;
    }
    .header_story, .category_foot label{
        float:left;
        font-size: 4em;
        font-family: 'UTM Bebas';
        text-transform: uppercase;
        color: #1e1e1e;
        width: 70%;
        word-wrap: break-word;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .see_more{
        float: right;
        font-size: 3.7em;
        font-family: 'UTM Bebas';
        color: #7eb235;
    }
    .see_more a{
        color: #7eb235;
    }
    .pic_staff{
        float: left;
        width:20%;
        margin-right: 5%;
    }
    .pic_staff  img{
        border-radius: 100%;
        BORDER: 2px solid #7eb235;
        width:100%;
    }
    .staff_say, .news_cont{
        float: left;
        width: 70%;
        overflow: hidden;
    }
    .staff_say  label, .news_cont label{
        font-size: 3.5em;
        font-family: 'UTM Bebas';
        color: #7eb235;
        /*font-weight:700;*/		
        word-wrap: break-word;
        white-space: nowrap;
    }
    .staff_say  p, .news_cont p{
        font-size: 3.5em;
        font-family: 'UTM Bebas';
        color: #3a3a39;
        text-align: justify;
        margin:0;
        height: 80px;		
        text-overflow: ellipsis;
    }
    .news_top{
        border-top: 1px solid #000;
        margin-top: 20px;
        padding-top:20px;
    }
    .news_cont{
        width: 60%;
        margin-top:20px;
    }
    .pic_news{
        float: left;
        width:32%;
        margin-right: 3%;
        margin-top:20px;
    }
    .pic_news img{
        width: 100%;
    }
    .category_foot{
        border-top: 1px solid #000;
        margin-top: 30px;
        padding-top:20px;
        padding-bottom: 50px;
    }
    .category_foot label{
        float:none;
    }
    .category{
        margin-top:20px;
        border-top: 1px dashed #7b7b73;
        padding-top: 20px;
    }
    .category ul li{
        color: #595958;
        font-size: 3em;
        list-style: none;
    }
    .category ul li a{
        color: #595958;
    }
    .category ul  li.header_cate{
        font-size: 3.5em;
        color: #7eb235;
    }
    footer{
        color: #fff;
        font-size: 2em;
        background: #8dc63f;
        padding: 0 4%;
    }
    footer img.logo_foot{
        width:20%;
    }
    footer .slogan_foot{
        font-family: 'UTM Bebas';
        border-bottom: 1px solid #fff;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    footer .address label{
        font-family: 'UTM Bebas';
    }
    footer .copyright{
        margin-bottom: 0;
        padding-bottom: 10px;
    }
    .language{
        color: #fff;
        font-size: 3em;
        padding-top: 2.4%;
        margin-left: 14%;
    }
    .language a{
        color: #fff;

    }
    .menu_hot ul{
        border-bottom: 1px solid #000;
    }
    .menu_hot ul li{
        display: inline-block;
        width: 41%;
        border-top: 1px solid #7eb235;
        font-size: 3em;
        color: #7eb235;
        padding-top: 2%;
        margin-right: 6%;
        margin-bottom: 2%;

        /*margin: 10px 0;*/
        /* Thiết lập icon bullet_green.png làm ảnh nền cho li*/
        background-image: url('../images/bullet_mn.png');
        background-repeat: no-repeat;
        /* Xác định vị trí của ảnh nền */
        background-position: 0 75%;
        padding-left: 15px;
    }
    .menu_hot ul li:nth-child(2n){
        margin-right: 0;
    }
    .menu_hot li a{
        color: #7eb235;
    }
    .menu_hot li a:hover{
        color: #7eb235;
    }
    .mn_share{
        margin:0;
        padding:0;
    }
    .mn_share li{
        display: inline-block;
        width: 20%;
        margin-right: 5%;
        margin-left: 2%;
    }
    /*Trang trong*/
    .w_header_p{
        background: url(../images/bg_head_p.png) #7eb235;
        background-repeat:no-repeat;
        background-position:center;
        background-size: 100%;
        -webkit-background-size:contain;
        -moz-background-size:contain;
        -o-background-size:contain;
        background-size:contain;
        height: 0;
        padding-bottom: 15.64%;/*(height/width)*100*/
        display: block;
    }
    .content_boder,.content_noboder{
        margin-top: .5em;
    }
    .content_boder div.label, .content_noboder div.label{
        font-size: 4em;
        color: #7eb235;
        font-family: 'UTM Bebas';
        border-bottom: 3px solid #7eb235;
        padding-bottom: .5%;
    }
    .content_noboder div.label{
        border-bottom: 0;
    }
    .content_boder p.content_post,.content_noboder p.content_post{
        font-size: 3em;
        color: #0c0c0c;
        text-align: justify;
    }
    .content_noboder p.content_post{
        border-bottom: 1px dashed #000;
        padding-bottom: 2%;
    }
    .content_noboder p.content_post.last{
        border-bottom: 0;
    }
    .content_noboder p.content_post label,.content_boder p.content_post label{
        font-size: 1em;
        color: #7eb235;
    }
    .content_boder p.sign{
        float: right;
        text-align: right;
        font-size: 3em;
        color: #7eb235;
        font-family: 'UTM Bebas';
    }
    .social{
        width: 50%;
    }
    .social img{
        width: 49%;
    }
    .pic_follow{
        float: left;
        width:38%;
    }
    .pic_follow img{width: 100%}
    .btn_follow{
        float: left;
        margin-left: 4%;
        width: 58%;
    }
    .btn_follow .label{
        font-size: 4em;
        color: #7eb235;
        font-family: 'UTM Bebas';
    }
    .btn_follow ul{
        margin:2% 0 0;
        padding:0;
    }
    .btn_follow ul li{
        background:#FFF;
        border-radius: 10px;
        border: 2px solid #7db135;
        /*        width: 306px;
                height:44px;*/
        list-style: none;
        margin:0 auto 2%;
    }
    .btn_follow ul li div{
        background:#7db135;
        border-radius: 10px;
        border: 2px solid #fff;
        /*        width: 302px;
                height:32px;*/
        color: #fff;
        font-size: 2em;
        font-family: 'UTM Neo Sans Intel';
        text-align: center;
        padding: 1% 0;
    }
    .btn_follow ul li:hover{
        background:#fff;
        border: 2px solid #e36f1e;
        cursor: pointer;
    }
    .btn_follow ul li:hover div{
        background:#e36f1e;
        border: 2px solid #fff;
    }
    .staff_talk,.staff_sale{
        background: rgba(48,48,48,.5);
        padding-right: 1%;
        position: relative;
        margin-bottom: 2%;
    }
    .staff_talk .arrow,.staff_sale .arrow{
        background: url(../images/arrow_white.png) no-repeat center right;
        background-size:5%;
    }
    .staff_talk .arrow .pic_staff_ , .staff_sale .arrow .pic_staff_{
        float: left;
        width: 53%;
    }
    .staff_talk .arrow .pic_staff_ img, .staff_sale .arrow .pic_staff_ img{
        width: 100%;
    }
    .staff_talk .arrow .group_staff_ , .staff_sale .arrow .group_staff_ {
        float: left;
        color: #fff;
        text-transform: uppercase;
        font-size: 3em;
        font-family: 'UTM Bebas';
        width: 40%;
        position: absolute;
        top:20%;
        left:55%;
    }
    .staff_sale .arrow .group_staff_ {
        font-size: 3em;
    }
    .posts_new{
        border-bottom: 1px dashed #333;
        margin-bottom: 2%;
        padding-bottom: 2%;
        font-size: 2.4em;
        text-align: justify;
    }
    .posts_new img.img_post{
        width:100%;
    }
    .posts_new label{
        color: #7eb235;
        text-transform: uppercase;
        font-size: 1.5em;
        font-family: 'UTM Bebas';
        margin: 1%;
    }
    .posts_new label a{
        color: #7eb235;
    }
    .gift{
        border-top: 1px solid #000;
        /*border-bottom: 1px solid #000;*/
        padding: 2% 0;
        margin: 2% 0;
        position:relative;
    }
    .img_gift  img{
        border-radius: 10px;
        box-shadow: 0 0 10px #000;
        width: 90% !important;
    }

    .frm_contact label{
        color: #7eb235;
        font-family: 'UTM Bebas';
        font-size: 3em;
    }
    .frm_contact p.text_news{
        font-size: 2em;
        text-align:justify;
    }
    .frm_cont{
        /*float: left;*/
        width: 100%;
        margin-right:63px;
    }
    .info_contact{
        /*float: right;*/
        width:100%;
    }
    .frm_cont .control_group, .frm_cont_QA .control_group{ 
        border-bottom: 1px solid #333;
        /*        padding-bottom:8px;
                margin-bottom: 20px;*/
    }
    .frm_cont .control_group input.inbox_contact, 
    .frm_cont .control_group textarea.textarea_contact,
    .frm_cont_QA .control_group input.inbox_contact, 
    .frm_cont_QA .control_group textarea.textarea_contact{ 
        width:88%;
        background:transparent;
        border:none;
        height:25px;
        padding: 0 10px;
        color: #0c0c0c;
        font-family: 'UTM Neo Sans Intel';
        font-size: 14px;
    }
    .frm_cont .control_group textarea.textarea_contact,
    .frm_cont_QA .control_group textarea.textarea_contact{ 
        width:100%;
        height:50px;
    }
    .red{
        color: #f20224;
        font-size:2em;
        font-weight:normal;
        line-height:0;
    }
    .send_frm, .send_frm_QA{
        color: #fff;
        font-size:16px;
        font-weight:normal;
        background:#e4701f;
        width:65px;
        text-align:center;
        text-transform: uppercase;
        border-radius:5px;
        float:right;
        font-family: 'UTM Neo Sans Intel';
        border:none;
        margin-top:10px;
    }
    .send_frm_QA{
        background:#7eb235;
        font-size:14px;
    }
    .info_contact{
        margin-top: 45px;
    }
    .info_contact label{
        color: #7eb235;
        font-size:3em;
        font-weight:normal;
        font-family: 'UTM Bebas';
    }
    .info_contact p{
        color: #303030;
        font-size:2.5em;
        font-weight:normal;
        font-family: 'UTM Neo Sans Intel';
        line-height: 30px;
    }
    .info_contact p .tell_contact{
        color: #e4701f;
        font-size:1.5em;
        font-weight:normal;
    }
    .people_join{margin-top:2em}
    .people_join .mem_join{
        position: relative;
        margin-bottom: 12px;
        width: 49.5%;
    }
    .people_join .mem_join img.pic_join{
        width:100%
    }
    .people_join .mem_join .bg_joiner{
        background: #000;
        opacity: .63;
        position: absolute;
        z-index: 10;
        width: 100%;
        bottom: 0;
        left: 0;
        height:50px;
    }
    .people_join .mem_join .name_joiner{
        position: absolute;
        z-index: 20;
        color: #fff;
        font-family: 'UTM Bebas';
        font-size: 4em;
        bottom: 5px;
        left:2%;
        width: 90%;
    }
    .people_join p{
        color:#0c0c0c;
        font-size: 2.4em;
        text-align: justify;
    }	
    .cont_join{
        margin-bottom: 50px;
        border-top: 1px dashed #ccc;
        margin-top: 2em;
        padding-top: 2em;
    }
    .cont_join header{
        font-family: 'UTM Bebas';
        font-size: 3em;
        font-weight: normal;
        color:#7eb235;
    }
    .cont_join header .more_join{
        font-family: 'UTM Neo Sans Intel';
        font-size: .7em;
        font-weight: normal;
        background:#7eb235;
        color: #fff;
        border-radius: 5px;
        padding: .2em 1em;
        text-align: center;
        float:right;
    }
    .cont_join header .more_join a{
        color: #fff;
    }
    .cont_join .join{
        color: #2a2a2a;
        text-align: justify;
        font-size: 2.4em;
        margin-top: .5em
    }
    .control_group{
        border-bottom: 1px solid #8d8f8b;
        padding-bottom: 5px;
        /*margin-top: 12px;*/
        line-height: 20px;
        font-size: 2em;
        text-align: justify;
    }
    .control_group label{
        color:#7eb235;
        margin-right: 10px;
        font-weight: 700;
    }
    .content_QA{
        width:100%;
        margin-top:1em
    }
    .bg_tit_Q, .bg_tit_A{
        background: url('../images/bg_tit_question.png') no-repeat top right;
        text-align: right;
        color: #fff;
        font-family: 'UTM Bebas';
        font-size:4em;
        text-transform: uppercase;
        padding:35px 25px 10px;
        margin-bottom: 10px;
    }
    .bg_tit_A{
        margin-bottom: 30px;
        background: url('../images/bg_tit_answer.png') no-repeat bottom left;
        text-align: left;
        padding:10px 25px 35px;
    }
    .question{
        color: #1e1e1e;
        background: url(../images/icon_question.png) no-repeat top left;
        padding-left:40px;
        /*line-height: 20px;*/
        text-align: justify;
        font-size:1.3em;
    }
    .answer{
        border-bottom:1px solid #ccc;
        /*padding-bottom: 1em;*/
        margin-bottom: 1em;
        /*line-height: 25px;*/
        padding-left:50px;
        color: #7eb235;
        font-size:1.3em;
        /*line-height: 20px;*/
        text-align: justify;
    }
    .ui-accordion-header{
        border-bottom:1px solid #ccc;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    #accordion .ui-state-active{
        border-bottom:0;
        padding-bottom: 20px;
    }
    .send_QA p{
        font-size:2.2em;
        text-align: justify;
    }
    .send_QA label{
        color: #7eb235;
        font-family: 'UTM Bebas';
        font-size:4em;
        text-transform: uppercase;
    }
    .frm_cont_QA{
        width: 100%;
    }
    /*----- Tabs -----*/

    #tabs,
    #tabs_video,
    #tabs_news{
        margin-top:65px;
        position:relative;
    }
    #tabs ul.tab_menu,
    #tabs_video ul,
    #tabs_news ul{
        background: #fff;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top:-40px;
        box-shadow:0 0 5px #000;
        width:100%;
    }
    #tabs ul.tab_menu li,
    #tabs_video ul li,
    #tabs_news ul li{
        display:inline-block;
        font-size:2em;
        font-weight: normal;
        color: #7eb235;
        padding:10px 1%;
    }
    #tabs ul.tab_menu li:last-child a,
    #tabs_video ul li:last-child a,
    #tabs_news ul li:last-child a{
        border-right:0;
    }
    #tabs ul.tab_menu li a,
    #tabs_video ul li a,
    #tabs_news ul li a{
        border-right:1px solid #666;
        color: #7eb235;
        padding-right:5px;
    }
    #tabs ul.tab_menu li.ui-tabs-active,
    #tabs_video ul li.ui-tabs-active,
    #tabs_news ul li.ui-tabs-active{
        background: #7eb235;
        color: #fff;
        border-radius: 5px;
    }
    #tabs ul.tab_menu li.ui-tabs-active a,
    #tabs_video ul li.ui-tabs-active a,
    #tabs_news ul li.ui-tabs-active a{
        color: #fff;
        border-right:0;
    }
    .tab-content{
        position:relative;
    }
    .cont_tab{
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        margin-bottom: 15px;
        margin-top: 20px;
    }
    .img_tab{
        float:left;
        margin-right: 23px;
        width: 30%;
        height:70px;
        overflow: hidden;
    }
    .img_tab img{
        width: 100%;
    }
    .main_tab{
        float: left;
        width:60%;
    }
    .main_tab label{
        font-size: 2.5em;
        color: #7eb235;
        font-weight: normal;
    }
    .main_tab label a{
        color: #7eb235;
    }
    .main_tab .des_tab{
        text-align: justify;
        color:#1c1c1c;
        margin-top:5px;
        font-size:2em;
        text-align: justify;
        height:70px;
        overflow:hidden;
        text-overflow: ellipsis;
    }
    .sort_view{
        padding-top:2em;
    }
    .sort_view .sort_year label, .sort_view .sort_month label{
        color: #7eb235;
        font-size: 2.5em;
        font-weight: normal;
        margin-right: 5px;
    }
    .sort_view .sort_year input{
        width: 135px;
        height:30px;
        box-shadow: 0 0 5px rgba(0,0,0,.5);
        border-radius: 5px;
        padding:0 5px;
        font-size:2em
    }
    .sort_month{margin-top:5%;}
    .sort_view .sort_month ul, .pagination ul{
        position: relative !important;
        background: transparent !important;
        float: none !important;
        border-radius: 0!important;
        top: 0!important;
    }
    .sort_view .sort_month ul li,.pagination ul li{
        display: inline-block;
        border: 2px solid #7eb235;
        padding-right: 1%;
        background: #fff;
        padding: 5px !important;
        font-size: 2em !important;
    }
    .sort_view .sort_month ul li a,.pagination ul li a{
        color: #7eb235 !important;
        border-right: 0 !important;
        padding-right: 0 !important;
    }
    .sort_view .sort_month ul li:last-child,.pagination ul li:last-child{
        margin-right:0;
    }
    .sort_view .sort_month ul li.active,.pagination ul li.active{
        background: #7eb235;
        color:#fff;
    }
    .title_post{
        font-size: 2.5em;
        color:#7eb235;
    }
    .content_post{
        font-size: 2em
    }
    .block_comment {
        border-top:1px solid #ccc;
        margin-top:26px;
        padding-top: 7px;
    }
    .block_comment h6.tit_comment{
        font-size:20px;
        color: #2e2e2e;
        margin:0;
        padding:0;
        font-weight: normal;
    }
    .block_comment .box_comment{
        background: #e7eaec;
        border-top: 1px solid #ccc;
        padding: 10px;
        margin-top:5px;
    }
    .block_comment .box_comment .avatar{
        float: left;
        margin-right: 7px;
    }
    .block_comment .box_comment .avatar img{
        width: 51px;
        height: 49px;
    }
    .block_comment .box_comment .frm_comment{
        width: 70%;
        float: left;
    }
    .block_comment .box_comment .frm_comment textarea{
        height:37px;
        width: 100%;
        border: 1px solid #24579d;
        resize: none;
    }
    .block_comment .box_comment .frm_comment .btn_comment{
        background: url('../images/arrow_comment.png') no-repeat center right #24579d;
        background-position: 95px 5px;
        padding: 0px 20px 0 20px;
        cursor:pointer;
        float: right;
        margin-top: 9px;
    }
    .block_comment .box_comment .frm_comment .btn_comment button{
        cursor:pointer;
        border: none;
        background: transparent;
        color: #fff;
        font-size: 13px;
        font-weight: normal;
    }
    .comment_line{
        border-bottom: 1px solid #ccc;
        padding-bottom: 18px;
        margin-bottom: 18px;
        background: transparent !important;
        border-top:0 !important;
    }
    .comment_line p{
        text-align: justify;
        margin-top:0;
        line-height:20px;
        font-size: 2em
    }
    .error{
        margin: auto;
        width:100%
    }
    .error img{
        width: 100%;
    }
    .link_home{
        position: absolute;
        bottom: 13%;
        border-radius: 5px;
        border:1px solid #fff;
        color: #fff;
        font-family: 'UTM Bebas';
        font-size:3em;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        padding: 2% 5%;
    }
    .link_home a{
        color:#fff;
    }
    .tit_search{
        font-size:3em;
        color:#7eb235;
        text-transform: uppercase;
        margin-bottom:.5em;
        font-family: 'UTM Bebas';
        margin:0;
        font-weight: normal;
    }
    .lbl_search{
        font-size:2.5em;
        color:#7eb235;
        margin:0;
        font-weight: normal;
        text-transform: none;
    }
    .input_search{
        margin-top:1em;
        color: #7eb235;
        border-radius: 5px;
        width:100%;
        min-height:20px;
        margin-bottom:1.5em;
        padding: 0 .3em;
    }
    .option_search{
        font-size:2em;
    }
    .btn_search{
        background:#7eb235;
        color:#fff;
        text-align: center;
        border-radius: 5px;
        padding: 5px 1em;
        border: none;
        float: right
    }
    .content_product header, .name_catalog_product{
        color: #7eb235;
        font-size: 3em;
        font-weight: normal;
        font-family: 'UTM Bebas';
        text-transform: uppercase;
    }
    .content_product p{
        text-align: justify;
        font-size: 2em;
    }
    .name_catalog_product{
        float: left;
        font-size: 3em;
    }
    .menu_catalog_product{
        float: right;
        position: relative;
    }
    .menu_catalog_product span{
        color: #fff;
        font-size: 2em;
        font-weight: normal;
        background: #7eb235;
        padding: 0px 5px 5px 5px;
        border-radius: 5px;
        cursor:pointer;
    }
    .product{
        margin:10px 0;
        border-bottom: 1px solid #93958f;
    }
    .product ul li{
        display: inline-block;
        width:24%;
        margin: 0 0 1em 0;
        vertical-align: top;
    }
    .product ul li:nth-child(4n){
        margin-right:0;
    }
    .product ul li img{
        width: 100%;
        margin-bottom: 15px;
    }
    .product ul li .name_product{
        font-size:13px;
        color: #2e2e2e;
        margin:0;
        padding:0;
    }
    .see_more{
        color: #7eb235;
        float: right;
        font-size: 2em;
        margin-top: 0;
        font-family: 'UTM Neo Sans Intel';
    }
    .see_more a{
        color: #7eb235;
    }
    .partner li{
        display: inline-block;
        width: 23%;
        margin:0 .5em 10px 0;
        vertical-align:top
    }
    .partner li:nth-child(4n){
        margin-right: 0;
    }
    .partner li img{
        border: 1px solid #7eb235;
    }
    .product_detail{
        margin-top: 10px;
    }
    .detail_l{
        width:48%;
        float: left;
        margin-right: 20px;
    }
    .detail_l img.product_large{
        width:100%;
    }
    .img_detail{
        border-top: 1px solid #acaaaa;
        padding-top: 7px;
        margin-top: 7px;
        width: 100%;
    }
    .img_detail ul li{
        display: inline-block;
        width: 31%; 
        margin-right:.5%;
        padding-right: .8%;
        border-right: 1px solid #acaaaa;
    }
    .img_detail ul li:last-child{
        margin-right:0;
        padding-right: 0;
        border-right: 0;
    }
    .img_detail ul li img{
        width: 100%;
    }
    .detail_r{
        float: left;
        width: 45%;
        position: relative;
        height:315px;
    }
    .tit_product_detail{
        color: #7eb235;
        font-size:4em;
        font-weight: normal;
        font-family: 'UTM Bebas';
        border-bottom: 1px solid #acaaaa;
        padding-bottom: 7px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    .p_title{
        color: #7eb235;
        font-size:3em;
        font-weight: normal;
        font-family: 'UTM Bebas';
    }
    .info_product_detail{
        color: #5f5f5f;
        font-size:2em;
        font-weight: normal;
    }
    .info_product_detail p{
        margin: 5px 0;
    }
    .share_product{
        /*        position: absolute;
                bottom: 0;
                left: 0;*/
    }
    .giftset{
        margin: 15px 0 0;
    }
    .giftset li{
        display: inline-block;
        width: 20%;
        /*height: 92px;*/
        margin-right: 10px;
    }
    .giftset li:last-child{
        margin-right: 0;
    }
    .giftset li img{
        width: 100%;
        /*height: 92px;*/
        box-shadow: 0 0 10px rgba(0,0,0,.5)
    }
    .cont_post_product{
        font-size: 2em;
    }
}
/* Dành cho điện thoại ngang */
@media all and (min-width: 480px) {
    .slogan_top {
        padding-top: 69%;
    }
    .staff_talk .arrow .group_staff_{
        top:30%;
    }
    .img_tab{
        height:100px;
    }
    .sort_month{margin-top:5%;}
    .block_comment .box_comment .frm_comment{
        width: 80%;
    }
    #tabs ul.tab_menu li, #tabs_video ul li, #tabs_news ul li{
        font-size: 3em;
    }
}
/* Dành cho máy tính bảng chiều dọc */
@media all and (min-width: 600px) {
    .category_product .topic_product{
        padding-top: 15%;
    }
    .category_product .topic_product strong{
        font-size: 8.5em;
    }
    .header_story, .category_foot label{
        font-size: 6em;
    }
    .staff_say  p, .news_cont p{
        height: auto;
    }
    footer{
        font-size: 3em;
    }
    .menu_hot ul li{
        font-size: 5em;
    }
    .slogan_top {
        padding-top: 71%;
    }
    .staff_talk .arrow .group_staff_{
        /*top:40% !important;*/
        font-size: 9em
    }
    .content_boder div.label, .content_noboder div.label{
        font-size: 6em
    }
    .control_group{
        font-size: 2.5em;
    }
    .img_tab{
        height:140px;
    }
    .sort_month{margin-top:5%;}
    .block_comment .box_comment .frm_comment{
        width: 90%;
    }
}
/* Dành cho máy tính bảng chiều ngang */
@media all and (min-width: 1024px) {
    .category_product .topic_product{
        padding-top: 17%;
    }
    .category_product .topic_product strong{
        font-size: 8.5em;
    }
    .header_story, .category_foot label{
        font-size: 6em;
    }
    .staff_say  p, .news_cont p{
        height: auto;
    }
    footer{
        font-size: 3em;
    }
    .menu_hot ul li{
        font-size: 5em;
    }
    .staff_talk .arrow .group_staff_{
        top:40%;
        font-size: 9em
    }
    .control_group{
        font-size: 3em;
    }
    .img_tab{
        height:150px;
    }
    .main_tab .des_tab{height: 123px;}
    .sort_month{margin-top:4%;}
}
content_main .content_boder p { font-size: 3em!important; }

/* Dành cho màn hình desktop */
@media all and (min-width: 1280px) {}

/*fix css chrome*/
/*@media screen and (-webkit-min-device-pixel-ratio:0){
}*/