.news-holder p {
    margin-bottom: 12px;
}

.news-holder {
    /*max-width: 500px;*/
    margin: 0 auto;
    font-family: Verdana, sans-serif;
    font-size: 13px;
}

.news-holder * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #336699;
    text-decoration: none;
}

.news-headlines {
    list-style: none;
    position: relative;
    float: left;
    width: 287px;
    background: #8cb652;
    height:377px;
    font-family: 'UTM Neo Sans Intel';
    font-size: 20px;
    border: 1px solid #8cb652;
}

.news-headlines li {
    position: relative;
    z-index: 20;
    color: #fff;
    height: 45px;
    text-align: center;
    padding: 12px 22px 16px 12px;
}
.nh-anim {
    -webkit-transition: all .7s ease-out;
    -moz-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    transition: all .7s ease-out;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    /*height: 45px;*/
}


.news-headlines li:hover, .news-headlines a:hover {
    cursor: pointer;
    color: #8cb652;
    background: #fff;
    /*height: 45px;*/
}

.news-headlines .highlight {
    width: 100%;
    background: #fff;
    color: #8cb652;
    border-bottom: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.selected{color: #8cb652 !important;}
.news-headlines .highlight:before {
    display: none;
}

.news-preview {
    float: left;
    border: solid 1px #999;
    width: 923px;
    background: #ededed;
    position: relative;
    z-index: 5;
    margin-left: -1px;
    height: 375px;
    position: relative;
}

.news-preview img {
    display: block;
    border: solid 1px #999;
    width: 100%;
    height: auto;
    margin: 0 auto;
} 

.news-content {
    position: absolute;
    background: #ededed;
    z-index: 10;
    top: 0;
    left: 0;
    display: none;
}

.top-content {
    display: block;
}
.title_slide{
    position: absolute;
    z-index: 100;
    bottom: 0;
}
.topic_slide{
    float: left;
    width: 281px;
    background: #7eb235;
    opacity: .82;
    text-transform: uppercase;
    color:#fff;
    font-family: 'UTM Bebas';
    font-size: 25px;
    text-align: center;
    height: 70px;
    padding-top: 25px;
}
.cont_slide{
    float: left;
    width: 640px;
    background: #010100;
    opacity: .62;
    text-align: justify;
    color: #fff;
    padding: 15px 14px 0;
    height: 70px;
}
.line_news{
    height: 1px !important;
    background: #669c1c;
    padding: 0 22px 0 12px;
    width: 247px;
    position: absolute;
    bottom: 0;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}