/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 7, 2015, 1:45:51 PM
    Author     : kamara
*/
.tbl-cat { margin-top: 10px; }
.tbl-cat tbody tr td, .tbl-cat th { vertical-align: middle; }
#frmSearch { padding-left: 0px;margin-top: 10px; }
.bg_color > div { width: 100%!important; }
