.width30p{
    width: 30%;
}
.width15p{
    width: 15%;
}
.selectbox-language{
    width: 120px;
}
.inline-block{
    display:  inline-block;
}
.marb5pi{
    margin-bottom: 5px
}
.modal-dialog{
    z-index: 9999 !important;
}

.bnt-o-i{
    font-size: 14px !important;
    padding: 8px 12px !important;
}

.pagination {
    margin: 0px;
}

.deleteDialog {
    width: 300px; 
    top: 30%;
    position: absolute;
    left: 40% 
}

.text-align-center-i {
    text-align: center !important;
}

.action-partners{
    display: block;
    margin: 5px;
}
