.width30p{
    width: 30%;
}
.width15p{
    width: 15%;
}
.selectbox-language{
    width: 120px;
}
.inline-block{
    display:  inline-block;
}
.dblock{
    display: block;
}
.marb5pi{
    margin-bottom: 5px
}
.modal-dialog{
    z-index: 9999 !important;
}

.bnt-o-i{
    font-size: 14px !important;
    padding: 8px 12px !important;
}

.pagination {
    margin: 0px;
}

.deleteDialog {
    width: 300px; 
    top: 30%;
    position: absolute;
    left: 40% 
}

.text-align-center-i {
    text-align: center !important;
}

.action-partners{
    display: block;
    margin: 5px;
}

#bg_color{
    cursor: pointer;
}

.tPreviewImage{
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    height: 100px;
}

.tPreviewImage img{
    width: 100%;
    height:100%;
}

#main_loader{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent url(../images/ajax_loader.gif) center center no-repeat;
    z-index: 9999;
}

.choseButton{
    cursor: pointer;
}