.line{ border-top: 3px solid #35a6e7; padding:10px 0 10px 0px; }
.titleNews { font-size: 18px!important;margin-top: 10px; }
.avatar-news { margin: 10px 0px;text-align: center; }
.title-news { font-weight: 600;font-size: 18px; }