.btn{  
    padding: 0px 5px;
    font-size: 12px;
}
.martopten{margin-top:10px !important;}
#w_title #title {
    padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    height: 1.7em;
    width: 100%;
    outline: 0;
    margin: 0 0 3px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.button{
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    -webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
    box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
    vertical-align: top;
}
a.button{
    color: #555;
    text-decoration: none;
}
.form-control{
    height: 30px;
}
.pagination-centered{text-align: center}
.pagination-right{text-align: right}
.pagination-left{text-align: left}
.img_category{
    text-align: center;
}
.img_category img, .eidt_img_ca img{
    width: 100px;
}
.red{
    color: #ff0000;
}
.re_opinion{
    width: 100%;
    min-height: 100px;
}
.attach_product{

}
.attach_product ul li{
    display: inline-block;
    margin-right: 10px;
    position: relative;
    width: 100px;
    vertical-align: top;
}
.attach_product ul li:last-child{
    margin-right: 0;
}
.attach_product ul li img{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;
    width: 100px;
}
.attach_product ul li .icon_del{
    position: absolute;
    top: -9px;
    right: -8px;
    border-radius:100%;
    background: transparent;
    border: 1px solid #000;
    color: #000;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}
.attach_product ul li .icon_del:before{
    content:'';
    height: 20px;
    vertical-align: middle;
}
.search_attach{
    margin-top: 10px;
    position: relative;
    width: 200px;
}
.search_attach input{
    width:200px;
}
.search_attach span.icon_search{
    position: absolute;
    right: 7px;
    top: 7px;
}
.icon_plus{
    cursor: pointer;
    top: 7px;
    position: absolute;
    right: -30px;
}

